<!doctype html>
<html lang="en-us">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/media.css">
  <title>Validation completed - Kettlebell Wiki</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="/img/logo.png" alt="">
          </div>
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Validation</span><br>
              <span>Completed</span>
            </h2>
            <p>
              Your account is now validated. You can now <a href="/purchase">buy a subscription</a> to Kettlebell Wiki.<br>
              <a href="/user/dashboard">Go to the dashboard</a>.
            </p>
          </div>
        </div>
      </div>
    </section>

  </main>

  <%- include('../partials/footer') %>

  
</body>

</html>