<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/form.css">
  <title>Disclaimer - Kettlebell Wiki</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main>
    <section id="privacy-policy">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Kettlebell Wiki</span><br>
              <span>Disclaimer</span>
            </h2>

            <div class="topic">
              <p>
                Please review the following user agreement carefully before using this website
                by clicking on "accept" you acknowledge that you have read and fully agree to and accept the terms of use, privacy
                policy, and disclaimer statements of Kettlebell Wiki by Domenico Larosa.
              </p>

              <p>
                Furthermore, by clicking “accept” you acknowledge that you agree to the following: 
                <ul>
                  <li>
                    By entering this website or purchasing or using our videos, blog, e-mails, programs, services, and/or products, you
                    are agreeing to accept all parts of this disclaimer. Thus, if you do not agree to the disclaimer below, STOP now,
                    and do not use our website, videos, blog, e-mails, programs, services, or products. By using this website, blog,
                    e-mails, or any of our programs, services, or products, you implicitly signify your agreement to all parts of this
                    disclaimer.
                  </li>
                  <li>
                    Kettlebell Wiki by Domenico Larosa. (hereafter known as “we” or “our”) will not be held responsible in any way for
                    the information that you request or receive through or on our website, videos, blog, e-mails, programs, services
                    and/or products. In no event will we be liable to any party for any direct, indirect, special, incidental, equitable
                    or consequential damages for any use of or reliance on this website or blog, e-mails, programs, services, and/or
                    products, including, without limitation, any lost profits, personal or business interruptions, personal injuries,
                    accidents, misapplication of information or any other loss, malady, disease or difficulty, or otherwise, even if we
                    are expressly advised of the possibility of such damages or difficulties. You expressly agree that the use of this
                    website is done at your own risk. The information published on this website is for informational purposes only. Any
                    reliance you place on such, you do at your own risk. You understand that while great care is taken to provide you
                    with the best information possible Kettlebell Wiki and Domenico Larosa make no representations or warranties of any
                    kind, express or implied, about the reliability, accuracy, completeness, security, safety or currency of the
                    information provided. Moreover, the information contained in our website, videos, blog, e-mails, programs, services
                    and/or products is for educational and informational purposes only, and is made available to you as self-help tools
                    for your own use. In no way is the information provided meant to be a substitute for professional advice. In no way
                    is the information provided meant to be a substitute for medical or psychological advice. This information does not
                    serve to diagnose, treat, or provide a cure for any condition you may be experiencing. If you require medical or
                    psychological services, it is your responsibility to seek out the attention of a licensed doctor or health
                    professional.
                  </li>
                  <li>
                    We make every effort to ensure that we accurately represent these products and services and their potential for
                    results. There is no guarantee that you will experience the same results or the results you desire and you accept
                    the risk that results differ by individual.
                  </li>
                  <li>
                    We make no guarantees concerning the level of success you may experience. The testimonials, descriptions, and
                    examples provided are exceptional results, which do not apply to the average purchaser, and are not intended to
                    represent or guarantee that anyone will achieve the same or similar results.
                  </li>
                  <li>
                    Kettlebell Wiki and Domenico Larosa strongly recommends that you consult with your physician or health care
                    provider before beginning this or any exercise program or nutrition plan. You should be in good physical condition
                    and be able to participate in any exercise and/or nutrition program. By signing in and using this website, you
                    understand that there is a risk of injury associated with doing the exercises and following the videos shown on
                    Kettlebell Wiki.
                  </li>
                  <li>
                    Kettlebell Wiki and Domenico Larosa are not licensed medical care providers and have no expertise in diagnosing,
                    examining, or treating medical conditions of any kind, or in determining the effect of any specific exercise on a
                    medical condition.
                  </li>
                  <li>
                    You should understand that when participating in any exercise program, imitating exercises seen in videos, or
                    following any nutrition plan, there is the possibility of physical injury or bodily harm. If you engage in any
                    exercise program or nutrition plan, workshop, or training session designed by, purchased from, or presented by
                    Kettlebell Wiki and/or Domenico Larosa, you agree and acknowledge that you are voluntarily participating in these
                    activities at your own risk and assume all risk of injury to yourself.
                  </li>
                  <li>
                    Furthermore, you acknowledge and agree to release and discharge Kettlebell Wiki and Domenico Larosa from any and
                    all claims, losses, or causes of action, known or unknown, including but not limited to claims for negligence for
                    any injuries or expenses that you may incur while using any videos, nutrition plan or exercise program, while
                    attending wellness workshops, or during training sessions designed by, purchased from, or conducted by Kettlebell
                    Wiki and/or Domenico Larosa.
                  </li>
                  <li>
                    You acknowledge that you understand and are aware that nutrition, health, and physical-fitness activities,
                    including the use of equipment and kettlebells and following nutrition plans are potentially hazardous activities.
                    You are aware that participating in these types of activities, even when completed properly, can be dangerous,
                    especially if done on your own. You agree to follow the written, digital, and/or verbal instructions found in
                    exercise programs and/or nutrition plans offered by Kettlebell Wiki by Domenico Larosa in a safe manner. You are
                    aware that potential risks associated with these types of activities include, but are not limited to: death,
                    fainting, disorders in heartbeat, serious neck and spinal injuries that may result in complete or partial paralysis
                    or brain damage, serious injury to virtually all bones, joints, ligaments, muscles, tendons, and other aspects of
                    the musculoskeletal system, and serious injury or impairment to other aspects of my body, general health, and
                    well-being. You assume full responsibility for any and all injuries, losses and damages that you incur while
                    exercising or imitating any of the videos shown in this website. You hereby waive all claims against Kettlebell Wiki
                    and Domenico Larosa, its instructors, or partners, for any and all injuries, claims or damages that you might incur.
                  </li>
                  <li>
                    You acknowledge through the purchase of any exercise video, program, nutrition plan, training sessions, or
                    participation in any wellness workshop that you have agreed to voluntarily follow and/or participate in these
                    activities. You hereby acknowledge and agree that you are physically and mentally sound and currently have no
                    physical conditions that would be aggravated by your involvement in an exercise program, nutrition plan, wellness
                    workshop, or exercise training session and that you have permission from a licensed physician that you are able to
                    undertake a health, fitness, and/or performance training program and/or to follow a nutrition plan.
                  </li>
                  <li>
                    You acknowledge that you will provide the equipment and nutrient items to be used in connection with exercise
                    programs and nutrition plans you attain from Kettlebell Wiki and Domenico Larosa. Furthermore, you understand that
                    you take sole responsibility for your exercise equipment and nutrient sources. You acknowledge that any equipment
                    may malfunction and/or cause potential injuries and you take sole responsibility to inspect any and all of your
                    equipment prior to use. You expressly assume and accept sole responsibility for your safety and for any and all
                    injuries that may occur.
                  </li>
                  <li>
                    In consideration of the acceptance of this entry, you, for yourself, and for your executors, administrators, and
                    assigns, waive and release any and all claims against Kettlebell Wiki and Domenico Larosa and any of their staffs,
                    officers, officials, volunteers, sponsors, agents, representatives, successors, or assigns and agree to hold them
                    harmless from any claims or losses, including but not limited to claims for negligence for any injuries or expenses
                    that you may incur while using any nutrition plan or exercise program, while attending wellness workshops, or during
                    training sessions designed by, purchased from, or conducted by Kettlebell Wiki and Domenico Larosa.
                  </li>
                  <li>
                    These exculpatory clauses are intended to apply to any and all claims for or arising out of any video, training
                    plan, instruction or lesson given by Kettlebell Wiki and Domenico Larosa which was broadcast, rebroadcast,
                    disseminated, or made generally available to the public, without a fee and which audience had not entered into an
                    agreement with either directly or through a studio or designated agent of Kettlebell Wiki and Domenico Larosa for
                    such instruction or lesson prior to or at the time of the instruction or lesson.
                  </li>
                  <li>
                    Through Kettlebell Wiki website, Domenico Larosa may promote a product or service based on Company’s affiliate
                    relationship with an individual or business. Company may receive compensation if you purchase the promoted product
                    or service through Company’s link. Company’s promotion of the product or service does not serve as an endorsement
                    and should not be seen as such. If you choose to purchase any affiliate products or services, you do so at your own
                    risk. NO WARRANTIES THIS WEBSITE AND THE INFORMATION, CONTENT, AND MATERIALS ON THIS WEBSITE ARE PROVIDED ON AN “AS
                    IS,” “WHERE IS,” AND “WHERE AVAILABLE” BASIS. COMPANY MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR
                    IMPLIED, AS TO THE OPERATION OF THE WEBISTE, THE CONTENT, INFORMATION, OR THE MATERIALS ON THIS WEBSITE. TO THE
                    FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, COMPANY EXPRESSLY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, OF
                    ANY KIND, WITH RESPECT TO ANY OF THE MATERIALS, CONTENT, OR INFORMATION ON THIS WEBSITE OR ANY SERVICES, GOODS, OR
                    OTHER PRODUCTS OFFERED, SOLD, OR DISPLAYED ON THIS WEBSITE OR YOUR USE OF THIS WEBSITE GENERALLY, INCLUDING
                    WARRANTIES OF MERCHANTABILITY, ACCURACY OF INFORMATION, QUALITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE, AND
                    NONINFRINGEMENT. SOME JURISDICTIONS LIMIT OR DO NOT ALLOW THE DISCLAIMER OF IMPLIED OR OTHER WARRANTIES, SO THE
                    ABOVE DISCLAIMER MAY NOT APPLY TO THE EXTENT SUCH JURISDICTION’S LAW APPLIES TO THIS AGREEMENT.
                  </li>
                </ul>
              </p>
            </div>

            <div class="topic">
              <p>
                Should you have questions regarding the Disclaimers, please contact
                <a href="mailto:info@ptlarosa.fitness">info@ptlarosa.fitness</a>. Updated: November 2020.
              </p>
            </div>
          </div>
    </section>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>