<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/form.css">
  <title>Privacy policy - Kettlebell Wiki</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main>
    <section id="privacy-policy">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Kettlebell Wiki</span><br>
              <span>Privacy Policy</span>
            </h2>

            <div class="topic">
              <p>
                This privacy policy will explain how this website uses the personal data we collect from you when you
                use our website.<br> Topics:
              </p>
              <ul>
                <li>What data do we collect?</li>
                <li>How do we collect your data?</li>
                <li>How will we use your data?</li>
                <li>How do we store your data?</li>
                <li>Marketing</li>
                <li>What are your data protection rights?</li>
                <li>What are cookies?</li>
                <li>How do we use cookies?</li>
                <li>What types of cookies do we use?</li>
                <li>How to manage your cookies</li>
                <li>Privacy policies of other websites</li>
                <li>Changes to our privacy policy</li>
                <li>How to contact us</li>
                <li>How to contact the appropriate authorities</li>
              </ul>
            </div>


            <div class="topic">
              <h3>What data do we collect?</h3>
              <p>Kettlebell Wiki collects the following data:</p>
              <ul>
                <li>Personal identification information (name, last name, email address, gender, country).</li>
              </ul>
            </div>

            <div class="topic">
              <h3>How do we collect your data?</h3>
              <p>You directly provide us with most of the data we collect. We collect data and process data when you:</p>
              <ul>
                <li>Register online or place an order for any of our services or products;</li>
                <li>Voluntarily complete a customer survey or provide feedback on any of our message boards or via
                  email;
                </li>
                <li>Use or view our website via your browser's cookies;</li>
                <li>Decide to subscribe to our newsletter.</li>
              </ul>
            </div>

            <div class="topic">
              <h3>How will we use your data?</h3>
              <p>Kettlebell Wiki collects your data so that we can:</p>
              <ul>
                <li>Process your order and manage your account;</li>
                <li>Email you with special offers on other products and services we think you might Iike;</li>
                <li>Email you with news and updates.</li>
              </ul>
            </div>

            <div class="topic">
              <h3>How will we use your data?</h3>
              <p>Kettlebell Wiki collects your data so that we can:</p>
              <ul>
                <li>Process your order and manage your account;</li>
                <li>Email you with special offers on other products and services we think you might Iike;</li>
                <li>Email you with news and updates.</li>
              </ul>

              <p>
              None of your personal data you provide will be shared with other people or companies.<br>
              When our company processes your order, it may send your data to, and also use the resulting
              information from, credit reference agencies to prevent fraudulent purchases, and to the online payment
              processor
              company <a href="http://stripe.com">Stripe</a>.
              </p>
            </div>

            <div class="topic">
              <h3>How do we store your data?</h3>
              <p>
                Kettlebell Wiki securely stores your data at <a href="http://www.navisite.com">Navisite</a>.
                Kettlebell Wiki will keep your personal data for statistics and improvement of the services provided
                until needed. Once you delete your account, we will delete your data by request at info@ptlarosa.fitness
              </p>
            </div>

            <div class="topic">
              <h3>Marketing</h3>
              <p>
                Kettlebell Wiki would like to send you information about products and services of ours you might like.
                If you have agreed to receive marketing offers, you may always opt out at a later date, contacting
                info@ptlarosa.fitness , expressing your will to opt out. You have the right to opt out of marketing
                offers
                at any
                time.
              </p>
            </div>

            <div class="topic">
              <h3>What are your data protection rights?</h3>
              <p>
                Kettlebell Wiki would Iike to make sure you are fully aware of all or your data protection rights.
                Every user is entitled to the following:
              </p>
              <ul>
                <li>
                  The right to access - You have the right to request that Kettlebell Wiki for copies of your personal
                  data;
                </li>
                <li>
                  The right to rectification - You have right to request that Kettlebell Wiki correct any
                  information you believe is inaccurate. You also have the right to request Kettlebell Wiki to complete
                  information you
                  believe is incomplete;</li>
                <li>
                  The right to erasure - You have the right to request that our company erase your personal data, under
                  certain
                  conditions;
                </li>
                <li>
                  The right to data portability - You have right to request that Kettlebell Wiki transfer the data that
                  we have
                  collected to another organization, or directly to you, under certain conditions;
                </li>
                <li>
                  If you make a request, we have one month to respond to you. If you would like to exercise any of these
                  rights, please
                  contact us at our e-mail info@ptlarosa.fitness.
                </li>
              </ul>
            </div>

            <div class="topic">
              <h3>What are cookies?</h3>
              <p>
                Cookies are text files placed on your computer to collect standard internet log information and visitor behavior
                information. When you visit our website, we may collect information from you automatically through
                cookies or similar technology.<br>
                For further information, please visit <a href="https://www.allaboutcookies.org/">www.allaboutcookies.org</a>.
              <p>

              <div class="topic">
                <h3>How do we use cookies?</h3>
                <p>Kettlebell Wiki uses cookies in a range of ways to improve your experience on our website, including:</p>
                <ul>
                  <li>Keeping you signed in;</li>
                  <li>Understanding how you use our website.</li>
                </ul>
              </div>

              <div class="topic">
                <h3>What types of cookies do we use?</h3>
                <p>There are a number of different types of cookies however our website uses</p>
                <ul>
                  <li>
                    Functionality - Kettlebell Wiki uses this cookies so that we recognise you on our website and
                    remember
                    your previously
                    selected preferences these could include what language you prefer and location you're in a mix of
                    first-party and
                    third-party cookies are used;
                  </li>
                  <li>
                    Advertising- Kettlebell Wiki uses this cookies to collect information about your visit to our
                    website
                    the
                    content you
                    viewed the links you followed and information about your browser device and your IP address.
                  </li>
                </ul>
              </div>

              <div class="topic">
                <h3>How to manage cookies</h3>
                <p>
                  You can set your browser not to accept cookies. However in few cases some of our website features may
                  not function as a result.
                </p>
              </div>

              <div class="topic">
                <h3>Privacy policies of other websites</h3>
                <p>
                  The Kettlebell Wiki website contains links to other websites. Our privacy policy applies only to our
                  website, so if
                  you click on the link to another website you should read their privacy policy.
                </p>
              </div>

              <div class="topic">
                <h3>Changes to our privacy policy</h3>
                <p>
                  Kettlebell Wiki keeps its privacy policy under regular review and places any updates on this web page.
                  This privacy
                  policy was last updated on November 11th 2020.
                </p>
              </div>

              <div class="topic">
                <h3>How to contact us</h3>
                <p>
                  If you have any questions about Kettlebell Wiki's privacy policy, the data we hold on you, or you
                  would
                  like to exercise one of your data protection rights please do not hesitate to contact us at
                  <a href="mailto:info@ptlarosa.fitness">info@ptlarosa.fitness</a>.
                </p>
              </div>
            </div>
          </div>
    </section>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>