<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/form.css">
  <title>Terms of use agreement - Kettlebell Wiki</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main>
    <section id="privacy-policy">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Kettlebell Wiki</span><br>
              <span>Terms of use agreement</span>
            </h2>

            <div class="topic">
              <h3>Welcome to Kettlebell Wiki by Domenico Larosa!</h3>
              <p>
                These terms of use govern your use of Kettlebell Wiki and provide information about Kettlebell Wiki
                services, outlined below. When you create an account on Kettlebell Wiki or use Kettlebell Wiki, you
                agree to these terms. Therefore, you accept all terms by simply using Kettlebell Wiki.
              </p>
              <p>
                You may not use Kettlebell Wiki if you are not of legal age to form a contract with Kettlebell Wiki, or if you are a
                person who is legally prohibited to use Kettlebell Wiki by your country legislation. You may not use Kettlebell Wiki
                if your account has been previously blocked or banned for violation of the terms of use. These restrictions are
                applied so that Kettlebell Wiki can comply with existing laws.
              </p>
              <p>
                Kettlebell Wiki and all its contents and videos protected by copyright, trademark, and other laws of both Italy and
                other countries. Nothing in the Terms gives you a right to use the Kettlebell Wiki name or any of the Kettlebell Wiki
                trademarks, logos, domain names, other distinctive brand features, and other proprietary rights. All right, title, and
                interest in and to the services are and will remain the exclusive property of Kettlebell Wiki and Domenico Larosa. Any
                feedback, comments, or suggestions you may provide is entirely voluntary and we will be free to use such feedback,
                comments or suggestions as we see fit and without any obligation to you.
              </p>
            </div>

            <div class="topic">
              <h3>When using Kettlebell Wiki you agree not to:</h3>
              <p></p>
              <ul>
                <li>
                  Obtain or attempt to obtain unauthorized access to Kettlebell Wiki services, systems, network or data;
                </li>
                <li>
                  Violate any applicable laws and regulations;
                </li>
                <li>
                  Impersonate any person or entity;
                </li>
                <li>
                  Forge or manipulate headers or identifiers to disguise the origin of any content made available through Kettlebell
                  Wiki;
                </li>
                <li>
                  Make available any content that you do not have the right to make available, or that infringes any patent, trademark,
                  trade secret, copyright or other proprietary rights of any person or entity;
                </li>
                <li>
                  Make available viruses or any other computer code, files, program or content designed to interrupt, destroy or limit
                  the content and functionality of Kettlebell Wiki or affect the users.
                </li>
              </ul>
            </div>

            <div class="topic">
              <h3>Jurisdiction clause</h3>
              <p>
                If you have any issues or disputes with Kettlebell Wiki and/or Domenico Larosa, you agree to raise it and try to
                resolve it by contacting <a href="mailto:info@ptlarosa.fitness">info@ptlarosa.fitness</a>.
              </p>
              <p>
                Any claims arising out of or relating to these terms or the disclaimer will be brought in court in Italy and governed
                by the laws of Italy. You hereby consent to personal jurisdiction in Italian courts.
              </p>
            </div>
            
          </div>
    </section>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>