<table cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <table cellspacing="0" cellpadding="0">
        <tr>
          <td>
            <a class="btn" href="<%= url %>"><%= content %></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>