<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('partials/head') %>
  <title>Kettlebell Wiki</title>
</head>

<body>
  <%- include('partials/header') %>

  <div class="showcase" style="background-image: url('/img/background.webp');">
    <div>
      <h1 class="uppercase">
        <span class="text-primary">Kettlebell</span><br>
        <span>Is the way</span>
      </h1>
      <h5 class="uppercase">Kettlebell Wiki - Domenico Larosa</h5>
    </div>
  </div>

  <main>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="/img/what_is_kettlebellwiki.jpeg" alt="">
          </div>
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">What is</span><br>
              <span>Kettlebell Wiki</span>
            </h2>
            <p>
              Kettlebell wiki is your one-stop location for kettlebell exercises. If you want to learn new exercises and you like a
              challenge, you’re in the right place! Get to your next level with +500 exercise videos. Try new kettlebell combos,
              flows and moves.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Free</span><br>
              <span>Trial</span>
            </h2>
            <p>
              Watch these <a href="https://www.youtube.com/playlist?list=PLMwn0Wb9_gdorON6rCkVBabXJkhkeBirM">free videos</a> to get a
              taste of Kettlebell Wiki. See what you like, like what you see! <a href="/sign-in">Create an account</a> for free, and
              start watching even more <a href="/trial">free content</a>!
              <a class="btn" href="/trial">Free trial <i class="fas fa-caret-right"></i></a>
            </p>
          </div>
          <div class="col trial">
            <iframe title="YouTube free videos playlist" width="560" height="315" frameborder="0" allowfullscreen
              src="https://www.youtube-nocookie.com/embed/videoseries?list=PLMwn0Wb9_gdorON6rCkVBabXJkhkeBirM" 
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            ></iframe>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="/img/discover_my_videos.jpeg" alt="">
          </div>
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Exercise</span><br>
              <span>Videos</span>
            </h2>
            <p>
              Kettlebells are a lot of tough fun! The videos you’ll be able to watch will blow your mind and give new inputs to your
              body and mind. No audio will interrupt your music stream: watch the exercise, read the description and do the exercise.
              It’s as easy as that. Get your motivation going! Look for new ideas for your training routine and new challenges. Are
              you ready for this?
            </p>
            <a class="btn" href="/videos">View more <i class="fas fa-caret-right"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Explore</span><br>
              <span>My collections</span>
            </h2>
            <p>
              All exercises are grouped in collections, so that you can get exactly what you are looking for. Each collection contains
              a main exercise, variations and combinations related to that exercise. You will find everything you can do with a
              kettlebell (except using it as a door stopper!).
            </p>
            <a class="btn" href="/collections">View more <i class="fas fa-caret-right"></i></a>
          </div>
          <div class="col">
            <img src="/img/explore_my_collections.jpeg" alt="">
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="/img/search_for_contents.jpeg" alt="">
          </div>
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Content</span><br>
              <span>Search</span>
            </h2>
            <p>
              Use the search feature. You don’t have to go crazy looking for exercises: type in the search bar, and get what you want
              in a snap! You will also have your own dashboard, where you will be able to save your favorites, get a random training
              routine or request a personal your training plan or live sessions. Use your dashboard also to look at your videos
              history and reset your password, if needed. We are constantly working to add new features , so stay tuned!
            </p>
            <a class="btn" href="/search">Search <i class="fas fa-caret-right"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Create a</span><br>
              <span>free account!</span>
            </h2>
            <p>
              This will allow you to surf the free content we have for you. You’ll soon realize you want to subscribe for more! You
              can renew the 30-days subscription whenever you want after it has expired. No hidden fees, get only what you want, when
              you want it!
            </p>
            <a class="btn" href="/sign-in">Create an account <i class="fas fa-caret-right"></i></a>
          </div>
          <div class="col">
            <img src="/img/logo.png" alt="">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <img src="/img/ebook_kettlebell_is_the_way.jpg" alt="" style="max-height: 450px;">
          </div>
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Discover</span><br>
              <span>My ebooks</span>
            </h2>
            <p>
              It's hard to get started with kettlebells when it's your first time! But we have a solution! A free downloadable
              starters guide to kettlebell training. It will help you figure out what kettlebells to buy, the fundamental exercises
              in kettlebell training, how to make the right progression and what not to do when training with kettlebells. And much
              more! Download your free copy here, after registering for free at KettlebellWiki.
            </p>
            <a class="btn" href="/ebooks">Ebooks <i class="fas fa-caret-right"></i></a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Get your</span><br>
              <span>Subscription</span>
            </h2>
            <p>
              You have signed in for free and you like our free content. You’ll soon realize you want more! You can subscribe for
              30/60/90 days, and you can renew your subscription whenever you want, after it has expired. No hidden fees, get only
              what you want, when you want it!
            </p>
            <a class="btn" href="/purchase">Purchase <i class="fas fa-caret-right"></i></a>
          </div>
          <div class="col">
            <img src="/img/logo.png" alt="">
          </div>
        </div>
      </div>
    </section>
    
  </main>

  <%- include('partials/footer') %>
</body>

</html>