<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('../partials/head') %>
  <title>Pricing - Kettlebell Wiki</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main>

    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">30 days</span><br>
              <span>Subscription</span>
            </h2>
            <p>
              By clicking on one of the payment options below you will be redirected to PayPal or SumUp (if you want to pay by credit
              card). You can access the platform for just 10 € / 30 days! Gain access to Kettlebell Wiki and you will be able to watch
              all videos!<br><br>
              
              Before completing the payment on PayPal, please make sure you write the email address that you use to log on to
              KettlebellWiki in the "add a message" field on PayPal's transaction page. This will allow the KettlebellWiki staff to
              give you full access to the website.<br><br>
              
              If you forget to do so or if you are paying by credit card, please write to <a href="mailto:info@ptlarosa.fitness">info@ptlarosa.fitness</a>
              after your payment, indicating the email address you used to register on Kettlebell Wiki and the subscription you chose to buy. We will
              check your payment, unlock your full Kettlebell Wiki account and we will promptly assist you if you have other questions!
            </p>

            <div class="horizontal-group">
              <a href="https://www.paypal.me/ptlarosa/10EUR" class="btn" rel="noreferrer" target="_blank">
                30 days access <i class="fab fa-paypal"></i>
              </a>
              <a href="https://www.paypal.me/ptlarosa/20EUR" class="btn" rel="noreferrer" target="_blank">
                60 days access <i class="fab fa-paypal"></i>
              </a>
              <a href="https://www.paypal.me/ptlarosa/30EUR" class="btn" rel="noreferrer" target="_blank">
                90 days access <i class="fab fa-paypal"></i>
              </a>
            </div>

            <div class="horizontal-group">
              <a href="https://pay.sumup.io/b2c/QXQL7BVM" class="btn" rel="noreferrer" target="_blank">
                30 days access <i class="far fa-credit-card"></i>
              </a>
              <a href="https://pay.sumup.io/b2c/QH4J0VFL" class="btn" rel="noreferrer" target="_blank">
                60 days access <i class="far fa-credit-card"></i>
              </a>
              <a href="https://pay.sumup.io/b2c/QCDS1KSP" class="btn" rel="noreferrer" target="_blank">
                90 days access <i class="far fa-credit-card"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </main>

  <%- include('../partials/footer') %>
</body>

</html>