<footer>
  <div class="row">

    <div class="col">
      <h5>Share</h5>
      <ul>
        <li>
          <a href="https://wa.me/?text=Visit%20Kettlebell%20Wiki:%0Ahttps://kettlebellwiki.ptlarosa.fitness/" rel="noreferrer" target="_blank">
            <h6><i class="fab fa-whatsapp"></i> Whatsapp</h6>
            <span>Send a message</span>
          </a>
        </li>
        <li>
          <h6><i class="fab fa-facebook"></i> Facebook</h6>
          <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fkettlebellwiki.ptlarosa.fitness%2F&layout=button&size=small&width=87&height=20&appId" width="87" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
        </li>
        <li>
          <a href="https://twitter.com/intent/tweet?text=Visit%20Kettlebell%20Wiki:%0Ahttps://kettlebellwiki.ptlarosa.fitness/" data-size="large"  rel="noreferrer" target="_blank">
            <h6><i class="fab fa-twitter"></i> Twitter</h6>
            <span>Tweet this website</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h5>Contacts</h5>
      <ul>
        <li>
          <a href="mailto:info@ptlarosa.fitness">
            <h6>Email</h6>
            <span>info@ptlarosa.fitness</span>
          </a>
        </li>
        <li>
          <a href="https://www.ptlarosa.fitness">
            <h6>Personal website</h6>
            <span>ptlarosa.fitness</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h5>Social</h5>
      <ul>
        <li>
          <a href="https://www.instagram.com/kettlebell.ptlarosa/" rel="noreferrer" target="_blank">
            <h6><i class="fab fa-instagram"></i> Instagram</h6>
            <span>kettlebell.ptlarosa</span>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/ptlarosa" rel="noreferrer" target="_blank">
            <h6><i class="fab fa-facebook"></i> Facebook</h6>
            <span>ptlarosa</span>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/channel/UCG_Xk90CGENQy7OYldD5cjA" rel="noreferrer" target="_blank">
            <h6><i class="fab fa-youtube"></i> YouTube</h6>
            <span>PT Larosa</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="col">
      <h5>Credits</h5>
      <ul>
        <li>
          <a href="mailto:piazzollaraffaele@gmail.com">
            <h6><i class="fab fa-node-js"></i> Website</h6>
            <span>Raffaele Nicola Piazzolla</span>
          </a>
        </li>
        <li>
          <a href="https://www.issa-europe.eu/">
            <img src="/img/issa.png" alt="ISSA">
          </a>
        </li>
        <li>
          <a href="https://blorcompany.com/">
            <img src="/img/blor.png" alt="BLOR">
          </a>
        </li>
        <li>
          <a href="https://www.ereps.eu/">
            <img src="/img/ereps.png" alt="ereps">
          </a>
        </li>
        <li>
          <a href="https://www.paypal.com/it/home/">
            <img src="/img/paypal.webp" alt="PayPal">
          </a>
        </li>
        <li>
          <a href="https://sumup.com/">
            <img src="/img/sumup.png" alt="Sumup">
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row copyright">
    <div class="col">
      <p>
        Copyright © 2020 Kettlebell Wiki by Domenico Antonio Metello Larosa. All rights reserved.
        <a href="/service-terms/disclaimer">Disclaimer</a>,
        <a href="/service-terms/privacy-policy">Privacy policy</a>,
        <a href="/service-terms/terms-of-use-agreement">Terms of use agreement</a>.
      </p>
    </div>
  </div>
</footer>

<div class="cookie-policy" style="display: none;">
  <h5>Cookie policy</h5>
  <p>This website uses cookies. By continuing to browse, you accept the use of cookies.</p>
  <div class="btn">Accept and close</div>
</div>

<script src="/js/jquery.js"></script>
<script src="/js/script.js"></script>