<div id="search-bar">
  <form action="<%= action %>" method="get">
    <div id="search-bar-input-container">
      <input type="text" name="q" placeholder="<%= placeholder || 'Search' %>" id="search" value="<%= query || '' %>"
        required />
      <i class="fas fa-search"></i>
    </div>
  </form>
</div>