<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/ebooks.css">
  <title>Ebooks - Kettlebell Wiki</title>
</head>

<body>
  <%- include('../partials/header') %>

  <main>
    <section>
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="uppercase">
              <span class="text-primary">Kettlebell</span><br>
              <span>Ebooks</span>
            </h2>
            <p>
              Download for free the ultimate guide to training with kettlebells without breaking your body! When using kettlebells,
              progression is key. These guides will teach you how to follow the right steps to unleash your full potential, whether
              you are a beginner, intermediate or advanced kettlebell user. Inside the guides, you will find example workouts,
              warm-up exercises, tips and tricks about kettlebells, and much more! Kettlebell is the way!
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <img src="/img/ebook_kettlebell_is_the_way.jpg" alt="Kettlebell Is The Way thumbnail" style="max-width: 400px; width: 100%;">
          </div>
          <div class="col">
            <h3>Kettlebell is the way!</h3>
            <p>
              This is the guide you need to get started with kettlebells or get to your next level! Have you ever
              wondered what kettlebells to buy, and why they come in so many different shapes? You will find all the answers you
              need and more by reading this free downloadable guide! Free workouts await you, go ahead and read it!
            </p>
            <a href="/ebooks/kettlebell-is-the-way.pdf" download="Kettlebell is the way! By Domenico Larosa (kettlebellwiki)" class="btn">
              Download <i class="fas fa-file-pdf"></i>
            </a>
          </div>
        </div>

        <%# <div class="row">
          <div class="col">
            <a class="ebook" href="/ebooks/kettlebell-is-the-way.pdf" download="Kettlebell is the way! By Domenico Larosa (kettlebellwiki)">
              <img src="/img/ebook_kettlebell_is_the_way.jpg" alt="">
              <h5>Kettlebell is the way!</h5>
              <p>
                Have you ever wondered what kettlebells to buy, and why they come in so many different shapes? You will find all the
                answers you need and more by reading this free downloadable guide!
              </p>
              <div class="btn">Download</div>
            </a>
          </div>
          <div class="col">
            <a class="ebook disabled">
              <img src="/img/ebook_kettlebell_is_the_way.jpg" alt="">
              <h5>Strong and agile with kettlebells (Unavailable)</h5>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis aut porro repudiandae aliquam dolorem blanditiis
                iure nulla ipsum possimus a?
              </p>
            </a>
          </div>
        </div> %>

      </div>
    </section>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>